* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(135deg, #cbf89a, #fc7a7a);
  padding: 10px;
}
img {
  height: 50px;
}
.todo-app {
  width: 100%;
  max-width: 540px;
  background-color: #efe2b695;
  margin: 100px auto 20px; /* horizontally center as left right auto */
  padding: 40px 20px 70px;
  border-radius: 10px;
  box-shadow: 10px 10px 4px rgba(186, 250, 186, 0.405);
}

.todo-app h2 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 5px;
  color: #002765;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  /* position: relative; */
  min-width: auto;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 8px;
  font-size: 15px;
}
button {
  border: none;
  outline: none;
  padding: 14px 30px;
  background: #ffbb64;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  font-weight: 600;
}

button:active {
  scale: 0.8;
  transition: all linear 1s;
}
ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-image: url(./unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(./checked.png);
}
ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
ul li span:hover {
  background: #edeef0;
}
